*{
    margin: 0;
    padding: 0;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body{
    background-image: url(https://nationalinterest.org/sites/default/files/styles/desktop__1486_x_614/public/main_images/atomic_bomb.jpg?itok=cUVH4gSg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bag , .list-co{
    padding: 2em 5em 1em;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.418);
    opacity: 0;
    animation: muncul 1s ease-in-out forwards;
}
#click{
    background-color: aquamarine;
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.418);
    transition: .3s;
}#click:hover{
    background-color: rgb(24, 185, 131);
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.418);
}
#code{
    display: block;
    margin: 1em 0;
    font-size: 1.5em
}
/* list other */
.list-co{
    padding: .5em 5em;
    margin: .5em 0 ;
}
.list-co a{
    padding: 0.5em;
    display: block;
    text-decoration: none;
    font-size: 1em;
}

@keyframes muncul {
    0%{
        transform: translate(0em,-1em)
    }
    100%{
        opacity: 1;
        transform: translate(0em,0em)
    }
}